* {
    font-family: 'Montserrat', sans-serif;
}

.dropdown-toggle::after {
    margin-left: .5em;
}

.nav-item {
    font-weight: 600;
}

.form-control {
    border-radius: 3px !important;
    min-height: 50px;
    border: 1px solid #E28800;
}

.form-control::placeholder {
    color: #969693;
    font-weight: 700;
}

.custom-container {
    padding: 1em 5em
}

.fw-bolder {
    font-weight: 800 !important;
}

.form-control-outline {
    padding: .85em;
    background-color: unset;
    box-shadow: unset;
    border: 3px solid white;
    border-radius: 20px;
    width: 100%;
    font-weight: 800;
    color: white;
}

.form-control-outline::placeholder {
    font-weight: 800;
    color: white;
}

ul[role='navigation'] {
    display: flex;
    gap: 10px;
}

ul[role='navigation'] li {
    color: white;
    min-width: 40px;
    min-height: 40px;
    padding: .5em 1em;
    font-weight: 700;
    display: flex; justify-content: center; align-items: center;
}
ul[role='navigation'] li a {
    text-decoration: unset !important;
    color: var(--tertiary);
}

ul[role='navigation'] li.selected {
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--tertiary) 
}


.search-function select {
    min-height: 40px !important;
}

.detail-image-show {
    cursor: pointer;
    border: 4px solid transparent;
}

.detail-image-show.not-selected {
    filter: brightness(.5);
}

.detail-image-show:hover {
    border-color: var(--primary) !important;
    filter: brightness(.75);
}

.navigation-circle {
    position:absolute;
    display: flex;
    border-radius: 50%;
    height: 120px; 
    aspect-ratio: 1/1; 
    background: #F3EC1D;
    top: 20%;
    z-index: 99999999;
}

.navigation-circle:hover {
    cursor: pointer !important;
    box-shadow: 0 0 20px rgba(243, 236, 29, .8);
}