:root {
    --primary: #01557A;
    --secondary: #313131;
    --tertiary: #FFFF00;
    --success: #62CE71;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.btn-primary {
    background-color: var(--primary) !important; 
    border-color: var(--primary) !important; 
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.btn-secondary {
    border: 1px solid var(--tertiary);
    background-color: var(--secondary) !important;
}

.bg-tertiary {
    background-color: var(--tertiary);
}

.btn-tertiary {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
}

.nav-link {
    color: white;
}

.btn-success {
    background-color: var(--success) !important;
    border-color: var(--success) !important;
}

.text-hover-tertiary:hover {
    color: var(--tertiary) !important;
    cursor: pointer;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--secondary);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--tertiary);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }